
/* CSS styling here */
body {
    font-family: Arial, sans-serif;
    background-color: rgb(19, 75, 83);
    margin: 0;
    padding: 0;
    
}

header {
    background-color: #007acc;
    color: white;
    text-align: center;
    padding: 20px;
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    
}

.frontPage {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* THE COLORS RIGHT NOW ARE JUST PLACEHOLDERS AND WILL BE CHANGED LATER */
    background-color: rgb(200, 195, 241);
    align-content: center;
    flex-wrap: wrap;
    display: flex;
    flex: 0 0 75%;
    max-width: 75%;
}

#search {
    text-align: center;
    margin-bottom: 20px;
}

#cityInput {
    width: 80%;
    padding: 10px;
}

#searchButton {
    background-color: #007acc;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    max-width: 75%;
    flex: 0 0 75%;
    display: flex;
}

#cityImage img {
    max-width: 100%;
}


/*  Add more styling for weather info and forecast if we need *

#typeTheActivity {
    font-weight: 500;
    font-size: 45px;
}

/* Add more styling for weather info and forecast if we need *


#cityInput {

}

#searchButton {

}

#weatherImage {

}

#weatherInfo {

}

#forecast {

}

