/* Custom CSS Styles */

/* General Styling */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #fefeff; /* White background to blend with the head banner */
    color: #333;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.white{
    color: white;
}
/* Header Styling */
.header-image {
    background: url('./assets/images/banner.jpg') no-repeat center center/cover;
    width: 100%;
    height: 50%; /* Adjusted height */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    text-shadow: 1px 1px 2px black;
    font-weight: bold; /* Make the text bold */
}

.header-content {
    text-align: center;
    padding: 5px;
    font-size: 1.5em; /* Larger font size */
    font-weight: bold; /* Make the text bold */
    color: #333; /* Adjust the color if needed */
    margin: 10px 0; /* Adjust spacing around the text */
}

/* Grid Container */
.grid-container {
    width: 90%; /* Adjust width */
    max-width: 1000px;
    margin: 20px auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

/* Input Group */
.input-group {
    width: 100%;
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.input-group-field {
    flex-grow: 1;
    border: 2px solid #90caf9;
    border-radius: 20px;
    padding: 10px;
}

.button {
    background-color: #197aca;
    border: none;
    border-radius: 20px;
    padding: 10px 15px;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-weight: bold; /* Make the text bold */
}

.button:hover {
    background-color: #42a5f5;
}

/* Section Styles */
.weather-section, .climate-info-section, .life-quality-section, .forecast-container {
    background: #197aca;
    padding: 15px;
    border-radius: 20px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.1);
    width: 100%; /* Full width of the container */
    font-weight: bold; /* Make the text bold */
}

.forecast-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 10px;
    
}

.forecast-day {
    flex: 1 1 18%;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    background-color: #dbeefc;
    font-weight: bold; /* Make the text bold */
}

.forecast-day img {
    width: 50px;
    height: auto;
    
}

/* Search History Section */
.search-history-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    background-color: #197aca; /* Blue background for results */
    font-weight: bold; /* Make the text bold */
    padding: 15px;
    border-radius: 20px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.1);
}

.search-history-item {
    cursor: pointer;
    padding: 5px 10px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    
}

/* Responsive Design */
@media (max-width: 768px) {
    .input-group {
        flex-direction: column;
    }

    .input-group-field,
    .button {
        width: 100%;
    }

    .forecast-day {
        flex-basis: 45%;
    }
}